.backButton{
    background-color: #526D82;
    color: #fff;
    height: 2rem;
    width: 4rem;
    display: inline;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
}
.cartClear{
    background-color: #526D82;
    color: #fff;
    height: 3rem;
    width: 6rem;
    display: inline;
    justify-content: center;
    align-content: center;
    margin-left: 80rem;;
}

.cartCheckout{
    background-color: #526D82;
    color: #fff;
    height: 3rem;
    width: 6rem;
    display: inline;
    justify-content: center;
    align-content: center;
}
.cartTotal{
    font-weight: bold;
    font-size: 2rem;
}